<div>
    <div>Text input form</div>
    <div>
        Comments (lazy loading?): 
        <div>
            [Title] Author
        </div>
        <div>
            [Body] Text
        </div>
        <div>
            <div>
                [Footer] DateTime 
            </div>
            <div>
                and delete-edit-deletewarn-editwarn actions
            </div>
        </div>
    </div>
</div>
