@using Microsoft.AspNetCore.Identity

@model SelenicSparkApp.Views.Admin.EditUserModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Edit user";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin")) // Triple-checking never hurt anyone
    {
        <div>
            <form asp-action="EditUser">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>
                    <input asp-for="UserName" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="EmailConfirmed" class="control-label">Email confirmed</label>
                    <select asp-for="EmailConfirmed" class="form-control">
                        @* "!" is a non-standard workaround for <@(...) inside tag attributes> error *@
                        <!option value="true" @(Model.EmailConfirmed ? "selected" : "")>Yes</!option>
                        <!option value="false" @(Model.EmailConfirmed ? "" : "selected")>No</!option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="LockoutEnd" class="control-label">Ban until [mm-dd-yyyy] (set empty to unban)</label>
                    <input asp-for="LockoutEnd" class="form-control" autocomplete="off" type="date" />
                </div>
                <div class="form-group">
                    <label asp-for="AccessFailedCount" class="control-label">Bad logins</label>
                    <input asp-for="AccessFailedCount" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="UsernameChangeTokens" class="control-label">Username Change Tokens</label>
                    <input asp-for="UsernameChangeTokens" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="UserWarningsCount" class="control-label">Warnings recieved</label>
                    <input asp-for="UserWarningsCount" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group" style="padding-top:10px;">
                    <input type="submit" value="Update" class="btn btn-primary w-100"/>
                </div>
            </form>
            <a asp-action="Users" style="padding-top:10px;justify-content:center;display:flex;">
                Back to Users list
            </a>
        </div>
    }
}
