@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Admin panel";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin")) // Triple-checking never hurt anyone
    {
        <div>
            <h1 style="text-align:center;">
                Hello, @User.Identity?.Name
            </h1>
            <hr />
            <a href="/Admin/Users">
                Manage users
            </a>
            <hr />
            <p>
                Here goes the server log
            </p>
        </div>
    }
}
