@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin panel";
}

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin")) @* Triple-checking never hurt anyone *@
    {
        <div style="text-align:center;">
            <h1>
                @ViewData["Title"]
            </h1>
            <h5>
                Hello, @User.Identity?.Name
            </h5>
            <hr />
            @* Add more button here if needed *@
            <div style="display:flex; justify-content:center; align-content:center">
                <a href="/Admin/Users" class="btn btn-primary">
                    Manage users
                </a>
            </div>
            @*
            <hr />
            <p>
                Here goes anything else
            </p>
            *@
        </div>
    }
}
