@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger" style="text-align:center"></h3>

<div style="text-align:center">
    <h1 style="color:#e74c3c; font-size:48px">@Model.Code</h1>
    <br />
    <p style="font-size:18px">An error occurred while processing your request.</p>
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <h4><a href="/">Go back Home</a></h4>
</div>
