@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure two-factor authenticator";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<style>
    .qr-box {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>To enable two-factor authenticator follow the following steps:</p>
    <ol class="list">
        <li>
            <p>
                Download Google Authenticator app on your phone from app store 
                (<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> | 
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>).
            </p>
        </li>
        <li>
            <p>Scan the QR Code:</p>
            <div class="qr-box">
                <div id="qrCode"></div>
                <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
            </div>
            <p>...or enter your <b>personal</b> key in app manually: <kbd>@Model.SharedKey</kbd></p>
        </li>
        <li>
            <p>
                Once you have scanned the QR code or input the key above, your two factor authentication app will provide you 
                with a unique code. Enter the code in the confirmation box below.
            </p>
            <div style="display:flex;justify-content:center;">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" placeholder="Please enter the code."/>
                            <label asp-for="Input.Code" class="control-label form-label">Verification Code</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
    <script type="text/javascript" src="~/js/qr.js"></script>
}
