@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<style>
    .customStyle {
        display:inline-table;
        width:12.4rem!important;
    }
</style>

<h3>Your account</h3>
<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, this action cannot be undone.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="customStyle">
            <button class="btn btn-primary customStyle" type="submit">Download</button>
        </form>
        <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger customStyle">Delete</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
