@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Remove 2FA";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This process will remove two-factor authentication (2FA) from your account</strong>
    </p>
    <p>
        This action will also reset your key, used in the authenticator app.
        You're gonna need to reconfigure authenticator app in order to use it again.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger w-100" type="submit">Remove 2FA from your account</button>
    </form>
</div>
