@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "2FA";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<style>
    .btn-wide {
        width: 11.555rem !important;
    }
    .btn-disabled {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
    .btn-disabled:hover {
        color: #666666;
    }
</style>

<partial name="_StatusMessage" for="StatusMessage" />
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>You have no recovery codes left.</strong>
                    <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>You have 1 recovery code left.</strong>
                    <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                    <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                </div>
            }
        }

        <div class="row">
            <div class="col-md-6">
                <h3>Two-factor authentication</h3>
                <p>Enabling two-factor authentication (2FA) for your account is completely optional.</p>
                <p>
                    Two-factor authentication adds an additional layer of security to your account,
                    but also binds you to use of specific device - if you lose that device, it could complicate the login process.
                </p>
            </div>
        </div>

        @if (!Model.HasAuthenticator) 
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary" style="width:23.4rem;">
                Add 2FA
            </a>
        }
        else
        {
            @if (Model.Is2faEnabled)
            {
                <a class="btn btn-disabled btn-wide" title="You already have 2FA enabled">
                    Add 2FA
                </a>
                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary btn-wide" style="background-color:#cc0000;">
                    Remove 2FA
                </a>
                <div style="padding-top: 0.3rem;">
                    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary btn-wide" style="display: inline-block; background-color: darkorchid">
                        Reset recovery codes
                    </a>
                    @if (Model.IsMachineRemembered)
                    {
                        <form method="post" style="display: inline-block">
                            <button type="submit" class="btn btn-primary btn-wide" style="background-color: darkorchid">
                                Forget this browser
                            </button>
                        </form>
                    }
                </div>
            }
            else
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary btn-wide">
                    Add 2FA
                </a>
                <a class="btn btn-disabled btn-wide" title="You don't have 2FA enabled">
                    Remove 2FA
                </a>
            }
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
