@{
    ViewData["Title"] = "Contacts";
}

<div>
    <h2>Contact us</h2>
    <hr />
    <p>
        We appreciate your feedback and are dedicated to helping you.
        You can reach us via:
    </p>
    <ul>
        <li>
            Email: <a href="mailto:admin@selenicspark.org">admin@selenicspark.org</a>
        </li>
        @*
        <li>
            Social networks: <a href="/">Twitter</a> <a href="/">Facebook</a> <a href="/">Instagram</a>
        </li>
        <li>
            Our <a href="/">Telegram channel</a>
        </li>
        <li>
            Our <a href="/">Discord server</a>
        </li>
        <li>
            Phone number <a href="/">0123456789</a>
        </li>
        *@
    </ul>
    @*
    <p>
        Our team strives to respond promptly during our business hours: [Business Hours].
    </p>
    *@    
    <p>
        Thank you for choosing SelenicSpark, and we look forward to assisting you with any questions or concerns you may have.
    </p>
</div>
