@{
    ViewData["Title"] = "Account deletion";
}

<div style="text-align:center">
    <br />
    <h2>Your account and personal data has been deleted</h2>
    <br />
    <br />
    <p style="font-size:32px;">🙁</p>
    <p style="font-size:18px">
        We're sorry to see you leave.<br />
        Feel free to come back anytime though.
    </p>
    <h4><a href="/">Go back Home</a></h4>
    <p style="font-size:18px; bottom:10%; right:0%; left: 0%; position:absolute;">
        If you've accessed this page accidentally - don't worry, your account is safe.
    </p>
</div>
