@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h2>Welcome back, @User.Identity?.Name</h2>
    }
    else
    {
        <h2 class="display-4">Hello & Welcome!</h2>
    }
    <p>
        This is a work-in-progress blog project with ASP.NET MVC that may find it's way outside localhost in the future.
        <br />
        <a href="https://github.com/HardcoreMagazine/SelenicSparkApp" target="_blank">Visit project page on Github</a>.
    </p>
</div>
