@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h4 class="display-4">Welcome back, @User.Identity?.Name!</h4>
        <p>
            This is a work-in-progress blog project with ASP.NET MVC that may find it's way outside localhost in the future.
            <br />
            <a href="https://github.com/HardcoreMagazine/SelenicSparkApp">Visit project page on Github</a>.
        </p>
    </div>
}
else
{
    <div class="text-center">
        <h4 class="display-4">Hello & Welcome!</h4>
        <p>
            This is a work-in-progress blog project with ASP.NET MVC that may find it's way outside localhost in the future.
            <br />
            <a href="https://github.com/HardcoreMagazine/SelenicSparkApp">Visit project page on Github</a>.
        </p>
    </div>
}

@* HERE GOES PARIAL POSTS FEED: "HOT" OR "NEW" POSTS ONLY*@
