@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    <br />
    <strong>We collect no user data.</strong><br />
    To create an account please sumbit a request at URL_URL.
    Note that this is a manual process, which will take some time.
</p>
