@{
    ViewData["Title"] = "Community rules";
}


<div>
    <h2>@ViewData["Title"]</h2>
    <hr />
    <p>
        We're thrilled to have you here as part of our forum.
        To make sure everyone enjoys their time here, we've put together some simple
        guidelines to keep things respectful and enjoyable for all.
        @*<b>Rules are here for bending. There is no justice if rules are absolete for everyone.</b>*@ @* bit too much I think? *@
        By using our Service, you agree to follow these community rules:
    </p>
    <ol>
        <li>
            <b>Be Respectful</b>: 
            Treat fellow users with respect and kindness. 
            Personal attacks, hate speech, harassment, or bullying will not be tolerated.
            Respect diverse opinions and perspectives. 
            Engage in constructive and open-minded discussions.
        </li>
        <li>
            <b>No spam or Self-Promotion</b>: 
            Do not spam the forum with excessive self-promotion or advertisements. 
            Promotional content should be relevant and non-intrusive.
            Do not post affiliate links or engage in any deceptive marketing practices.
        </li>
        <li>
            <b>Stay On-Topic</b>: 
            Keep discussions relevant to the specific post. 
            <u>Off-topic posts and comments may be removed</u>.
            Start new threads or discussions in the appropriate section of the forum.
        </li>
        <li>
            <b>Privacy and Personal Information</b>: 
            Do not share personal information, including contact details 
            and addresses, about yourself or others in the forum comments.
            Respect the privacy of other users and do not engage in doxxing or stalking.
        </li>
        <li>
            <b>Content Guidelines</b>:
            Do not post or link to explicit, offensive, or illegal content. 
            This includes, but is not limited to, adult-only content, hate speech, or copyrighted content without permission.
            <u>Such content will be removed without any warnings</u>.
            Use appropriate language and try to avoid excessive profanity.
        </li>
        <li>
            <b>Multiple Accounts</b>:
            Users are allowed to have multiple accounts per person. 
            <u>Creating multiple accounts to evade bans or engage in deceptive/harmful behaviour will result in personal sanctions</u>.
        </li>
        <li>
            <b>Moderator Discretion</b>:
            Moderators have the authority to enforce these rules and make decisions in the best interest of the community. 
            While their decisions are typically final, they <u>may be discussed in a constructive manner</u> on the forum.
            <u>Any personal attacks towards moderators or violation of forum rules during discussions will not be tolerated</u>.
        </li>
        <li>
            <b>Reporting Violations</b>:
            If you encounter a post or user that violates these rules, please report it to the moderators or administrators.
            Do not engage in public disputes or arguments. Let the moderation team handle rule violations.
        </li>
    </ol>
    <p>
        <b>
            <i>
                Violation of these rules may result in warnings, temporary suspensions, or permanent bans,
                depending on the severity and frequency of the violations.
            </i>
        </b>
    </p>
    <p>
        If you have any questions about our Community Rules, please <a href="/Home/Contacts">contact us</a>.
    </p>
</div>
