@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header style="text-align:center; padding-top:15%;">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger" style="padding-top:10px; font-size:20px;">You do not have access to this resource.</p>
    <h5><a href="/">Go back Home</a></h5>
</header>
