@page
@* @model ForgotPasswordConfirmation *@
@{
    ViewData["Title"] = "Password reset";
}

<script>
    setTimeout(function () {
        window.location.href = "/Identity/Account/Login";
    }, 0);
</script>
<br />
<h5>Redirecting... <a href="/Identity/Account/Login">click here</a> if nothing happens</h5>

@*
// Uncomment this when you connect proper email service
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
*@

