@page
@model LockoutModel
@{
    ViewData["Title"] = "Account Locked";
}

<header style="text-align:center; padding-top:14%;">
    <h1 class="text-danger"><b>@ViewData["Title"]</b></h1>
    <b class="text-danger" style="padding-top:10px;">This account has been temporarily banned</b>
    <p>...but you can still browse our website in read-only mode</p>
    <p class="text-danger">
        Contact site administrator at <a href="mailto:admin@selenicspark.org">admin@selenicspark.org</a> if you think that was a mistake.
    </p>
</header>
