.btn-small-danger {
    background-color: lightgray;
    border-radius: 20px;
    display: inline-block;
    font-family: Arial;
    text-decoration: none;
    border: none;
    padding-inline: 5px 10px;
    margin: 2px;
}

.btn-small-danger > svg { /* Svg blocks button click event -> disable svg actions! */
    pointer-events: none;
}

.btn-small-danger:hover {
    background-color: gray;
}

.partially-visible {
    width: auto;
}

.partially-visible:hover {
    background-color: gray;
}

.partially-visible button {
    background: none;
    border: none;
}

.dropbtn {
    width: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    overflow: auto;
    z-index: 1;
}

.dropdown-content form {
    cursor: pointer;
    color: black;
    padding: 5px 12px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
}
