.post-container {
    border: dotted;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    margin-block: 15px 15px;
    background-color: #fefefe;
}

.sm-text {
    font-size: 12px;
}

.post-text {
    font-size: 12px;
    margin-block: 4px 6px;
}

.route-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.route-page {
    width: 30px;
    height: 30px;
    border: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #0b5ed7;
}

.margin-line-1 {
    margin-inline: 3px 3px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-search-cancel-button,
input[type=number]::-webkit-search-decoration,
input[type=number]::-webkit-search-results-button,
input[type=number]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

.btn-secondary.disabled {
    border-color: #b6d3fe;
    background-color: #b6d3fe;
}
