.page-container {
    display: flex;
    justify-content: space-between;
}

.data-table-container {
    flex-grow: 1;
    padding: 10px;
}

.forms-container {
    flex-basis: 40%;
    padding: 10px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    grid-area: tbl;
}

table th {
    border: 1px solid;
    background: rgb(240,240,240);
    text-align: center !important;
}

table td {
    border: 1px solid;
    text-align: center;
    padding: 3px;
}