@model SelenicSparkApp.Models.Post
@{
    ViewData["Title"] = "Ignite";
}

<link rel="stylesheet" href="~/css/simplemde.min.css"/>

<h4>Create post</h4>
<hr />
<div class="row">
    <div class="flex-md-column">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="padding-bottom-10">
                <input asp-for="Title" class="form-control" placeholder="Title" autocomplete="off" minlength="4" maxlength="300" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="padding-bottom-10">
                <textarea asp-for="Text" id="tb" placeholder="Text (optinal)" autocomplete="off"></textarea>
            </div>
            <div class="centered padding-bottom-20">
                <input type="submit" value="Create" class="btn btn-primary w-25" />
            </div>
            <input asp-for="Author" type="hidden" value="@User.Identity?.Name" />
        </form>
        <div class="centered">
            <a asp-action="Index" class="black">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/simplemde.min.js"></script>
    <script src="~/js/CreatePost.js"></script>
}
