@model SelenicSparkApp.Models.Post

@{
    ViewData["Title"] = "Create";
}

<h4>Create post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Title" minlength="4" maxlength="300" required />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Text" class="form-control" placeholder="Text (optional)"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <input asp-for="Author" type="hidden" value="@User.Identity?.Name" />
            <input type="submit" value="Create" class="btn btn-primary w-100" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
