@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@model SelenicSparkApp.Models.Post
@{
    ViewData["Title"] = Model.Title;
}

<div>
    <div>
        <h1>@Model.Title</h1>
        By <i>@Model.Author</i> at @Model.CreatedDate.ToString("HH:mm dd.MM.yyyy")
        <hr />
        @Html.Raw(Model.Text)
    </div>
    <div>
        <hr />
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.Identity?.Name == Model.Author || User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.PostId" class="btn btn-primary height-1">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model?.PostId" class="btn btn-danger padding-bottom-10 height-1">Delete</a>
            }
        }
        <a asp-action="Index" class="btn btn-secondary height-1">Back to all posts</a> 
    </div>
</div>
