@model SelenicSparkApp.Models.Post

@{
    ViewData["Title"] = "Edit post";
}

<link rel="stylesheet" href="~/css/simplemde.min.css" />

<div>
    <div>
        <h1>@Model.Title</h1>
        <p>By <i>@Model.Author</i> at @Model.CreatedDate.ToString("HH:mm dd.MM.yyyy")</p>
        <hr />
        <form asp-action="Edit">
            <input type="hidden" asp-for="PostId" />
            <textarea asp-for="Text" id="tbe" placeholder="Text (optional)"></textarea>
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </form>
    </div>
    <div>
        <p style="margin-top: 20px;">
            Or... <a asp-action="Details" asp-route-id="@Model?.PostId" class="btn btn-warning">Cancel any changes and return</a>
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/simplemde.min.js"></script>
    <script src="~/js/EditPost.js"></script>
}
