@model SelenicSparkApp.Models.Post

@{
    ViewData["Title"] = "Edit post";
}

<link rel="stylesheet" href="~/css/simplemde.min.css" />

<div>
    <div>
        <h1>@Model.Title</h1>
        <p>By <i>@Model.Author</i> at @Model.CreatedDate.ToString("HH:mm dd.MM.yyyy")</p>
        <hr />
        <form asp-action="Edit">
            <input type="hidden" asp-for="PostId" />
            @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <input asp-for="Title" class="form-control" placeholder="Title" autocomplete="off" minlength="4" maxlength="300" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            }
            <textarea asp-for="Text" id="tbe" placeholder="Text (optional)"></textarea>
            <input type="submit" value="Save changes" class="btn btn-primary" />
            @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <input type="hidden" name="GiveWarning" value="true" />
                <input type="submit" value="Save & Warn user" class="btn btn-danger" />
            }
        </form>
    </div>
    <div>
        <p style="margin-top: 20px;">
            Or... <a asp-action="Details" asp-route-id="@Model?.PostId" class="btn btn-warning">Cancel any changes and return</a>
        </p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/simplemde.min.js"></script>
    <script src="~/js/EditPost.js"></script>
}
